{% extends 'base.html' %}

{% load static %}

{% block content %}


    <h1 class="text-center"> Search Users</h1>

    <br/>

        <form method=POST>

            {% csrf_token %}
            <input type="input" class="form-control" placeholder="Who are you looking for ?" name="search">

            <br/>

            <div class="text-center">

                <button type="submit" class="btn btn-secondary">Search</button>

            </div>


        </form>

        <br/>

        {% if search %}

            <h3>
                Showing search results for: {{ search }}
            </h3>

            <br/>

        {% endif %}

    {% if searched %}

        {% for result in searched %}

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                {% if result.profile.profile_image %}

                <img src="{{ result.profile.profile_image.url }}" width=190 height=200 class="img-fluid-rounded-start" alt="{{ result.profile.user.username }}">
                {% else %}

                <img src="{% static 'images/default_profile_pic.png' %}" class="img-fluid rounded-start" alt="Profile Image">

                {% endif %}

            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ result.profile.user.username }}</h5>
                <p class="card-text"><a href="{% url 'profile' result.profile.user.id %}">@{{ result.profile.user.username|lower }}</a></p>
                <br/><br/>
                <p class="card-text"><small class="text-body-secondary">Last Updated: {{ result.profile.date_modified }}</small></p>
                </div>
            </div>
            </div>
        </div>
        <br/><br/>

        {% endfor %}

    {% else %}

        {% if searched == None %}

        {% else %}

        <h3 class="text-center">No results found :P</h3>

        {% endif %}


    {% endif %}


{% endblock %}


