{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8">


    <h1 class="text-center">Shared Meep!</h1>

    <br/><br/>



        <div class="alert alert-dark" role="alert">
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        {% if meep.user.profile.profile_image %}
                        <img src="{{ meep.user.profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
                      {% else %}
                        <img src="{% static 'images/default_profile_pic.png' %}" width=50 height=50 class="rounded-circle" alt="Profile Image">
                      {% endif %}
                    </div>

                    <div class="col-11">

                        {{ meep.body }}<br/>
            
                        <small class="text-muted">
                            {{ meep.created_at }} by @{{ meep.user.username}}
                            - {{ meep.number_of_likes }} Likes -
                            
                            {% if user in meep.likes.all %}
                                <a href="{% url 'meep_like' meep.id %}">Unlike</a>
                            {% else %}
                                <a href="{% url 'meep_like' meep.id %}">Like</a>
                            {% endif %}
                        </small>

                    </div>

        
                <br/><br/>
                </div>
            </div>

        </div>


</div>

<div class="col-4">
        <br/><br/><br/><br/>

{% if form %}
        <form method=POST>
            {% csrf_token %}

            {{ form.as_p }}

            <div class="text-center">

                <button type="submit" class="btn btn-secondary">Meep</button>

            </div>


        </form>

{% endif %}

</div>

{% endblock %}
